pyrogram==1.4.12
TgCrypto
python-dotenv
yt-dlp
requests
aiohttp[speedups]
aiofiles
python-arq
search_engine_parser
wget
ffmpeg-python
Pillow==10.1.0
ujson
pymongo[srv]
dnspython
psutil
motor
py-tgcalls
